@font-face {
    font-family: "Monserrat";
    src: Montserrat-Medium.ttf;
}

body {
    font-family: "Montserrat";
}

.index {
    background-color: blanchedalmond; 
}

.caldo-de-huesos {
    background-color: saddlebrown;
}

.crocante-de-avena {
    background-color: rgb(255, 195, 121);
}

.crema-de-limon {
    background-color: darkkhaki;
}

.chunio {
    background-color: rgb(230, 54, 54);
}

.crema-base-de-chia {
    background-color: darkgrey;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: bold;
}

ul {
    font-size: 18px;
    color: rgb(7, 63, 0);
    font-weight: bold;
}

ol {
    font-size: 18px;
    color: rgb(75, 33, 5);
    font-weight: bold;
    font-style: italic;
}

.recetas-index {
    text-align: center;
}