.index {
    background-color: blanchedalmond; 
}

.caldo-de-huesos {
    background-color: saddlebrown;
}

.crocante-de-avena {
    background-color: bisque;
}

.crema-de-limon {
    background-color: darkkhaki;
}

.chunio {
    background-color: brown;
}

.crema-base-de-chia {
    background-color: darkgrey;
}